<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (material) {
      <div>
        <h2 data-cy="materialDetailsHeading"><span jhiTranslate="highwayacApp.material.detail.title">Material</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ material.id }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.material.title">Title</span></dt>
          <dd>
            <span>{{ material.title }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.material.creator">Creator</span></dt>
          <dd>
            <span>{{ material.creator }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.material.description">Description</span></dt>
          <dd>
            <span>{{ material.description }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.material.copyright">Copyright</span></dt>
          <dd>
            <span>{{ material.copyright }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.material.watchLink">Watch Link</span></dt>
          <dd>
            <span>{{ material.watchLink }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.material.extraInfo">Extra Info</span></dt>
          <dd>
            @if (material.extraInfo) {
              <div>
                <a [routerLink]="['/extra-info', material.extraInfo.id, 'view']">{{ material.extraInfo.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="highwayacApp.material.workspace">Workspace</span></dt>
          <dd>
            @if (material.workspace) {
              <div>
                <a [routerLink]="['/workspace', material.workspace.id, 'view']">{{ material.workspace.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/material', material.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
