
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighwayVC - Create Explainer Prompt</title>
</head>
<body>
    <div class="explainer-prompt-container">
        <form class="explainer-prompt-form" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <header>
            <h1>YouTube Explainer - create a prompt</h1>
        </header>
            @if (editForm.controls.id.value !== null) {
                <div class="mb-3">
                    <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                    <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
                </div>
            }

            <div class="mb-3" style="display: none;">
                <label class="form-label" jhiTranslate="highwayacApp.youTubeVideo.workspace" for="field_workspace">Workspace</label>
                <input type="text" class="form-control" name="workspace" id="field_workspace" data-cy="workspace" formControlName="workspace"/>
                @if (editForm.get('workspace')!.invalid && (editForm.get('workspace')!.dirty || editForm.get('workspace')!.touched)) {
                    <div>
                        @if (editForm.get('workspace')?.errors?.required) {
                            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                        }
                    </div>
                }
            </div>
            

            <div class="mb-3" style="display: none;">
                <label class="form-label" jhiTranslate="highwayacApp.youTubeVideo.creator" for="field_creator">Creator</label>
                <input type="text" class="form-control" name="creator" id="field_creator" data-cy="creator" formControlName="creator" />
                @if (editForm.get('creator')!.invalid && (editForm.get('creator')!.dirty || editForm.get('creator')!.touched)) {
                  <div>
                    @if (editForm.get('creator')?.errors?.required) {
                      <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                    }
                  </div>
                }
            </div>

            <div class="mb-3">
              <label class="form-label" jhiTranslate="highwayacApp.youTubeVideo.video_Time1" for="field_videoTime">Create a</label>
              <select  name="videoTime" id="field_videoTime" data-cy="videoTime" formControlName="videoTime">
                <option *ngFor="let name of namesList" [value]="name">{{ name }}</option>
              </select>
              @if (editForm.get('videoTime')!.invalid && (editForm.get('videoTime')!.dirty || editForm.get('videoTime')!.touched)) {
                <div>
                  @if (editForm.get('videoTime')?.errors?.required) {
                    <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                  }
                </div>
              }
              <label class="form-label" jhiTranslate="highwayacApp.youTubeVideo.video_Time2" for="field_videoTime" >YouTube video about</label>
            </div>
            
            <div class="mb-3">
                <label class="form-label" jhiTranslate="highwayacApp.youTubeVideo.theme" for="field_theme">Theme</label>
                <input type="text" class="form-control" name="theme" id="field_theme" data-cy="theme" formControlName="theme" />
                @if (editForm.get('theme')!.invalid && (editForm.get('theme')!.dirty || editForm.get('theme')!.touched)) {
                  <div>
                    @if (editForm.get('theme')?.errors?.required) {
                      <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                    }
                  </div>
                }
            </div>

            <div class="mb-3">
                <label class="form-label" jhiTranslate="highwayacApp.youTubeVideo.content" for="field_content">Content</label>
                <textarea class="form-control" name="content" id="field_content" data-cy="content" formControlName="content"></textarea>
                @if (editForm.get('content')!.invalid && (editForm.get('content')!.dirty || editForm.get('content')!.touched)) {
                  <div>
                    @if (editForm.get('content')?.errors?.required) {
                      <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                    }
                  </div>
                }
            </div>

            <div class="mb-3">
                <label class="form-label" jhiTranslate="highwayacApp.youTubeVideo.backgroundMusic" for="field_backgroundMusic"
                  >Background Music</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="backgroundMusic"
                  id="field_backgroundMusic"
                  data-cy="backgroundMusic"
                  formControlName="backgroundMusic"
                />
                @if (
                  editForm.get('backgroundMusic')!.invalid && (editForm.get('backgroundMusic')!.dirty || editForm.get('backgroundMusic')!.touched)
                ) {
                  <div>
                    @if (editForm.get('backgroundMusic')?.errors?.required) {
                      <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                    }
                  </div>
                }
            </div>

            
            <div class="settings">
                <label>Settings:</label>
                <div class="mb-3">
                  <select name="gender" id="field_gender" data-cy="gender" formControlName="gender">
                    <option *ngFor="let name of gendername" [value]="name">{{ name }}</option>
                  </select>
                  @if (editForm.get('gender')!.invalid && (editForm.get('gender')!.dirty || editForm.get('gender')!.touched)) {
                    <div>
                      @if (editForm.get('gender')?.errors?.required) {
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                      }
                    </div>
                  }
                </div>
                <div class="mb-3">
                  <select name="videolanguage" id="field_videolanguage" data-cy="videolanguage" formControlName="videolanguage">
                    <option *ngFor="let name of videoname" [value]="name">{{ name }}</option>
                  </select>
                  @if (editForm.get('videolanguage')!.invalid && (editForm.get('videolanguage')!.dirty || editForm.get('videolanguage')!.touched)) {
                    <div>
                      @if (editForm.get('videolanguage')?.errors?.required) {
                        <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                      }
                    </div>
                  }


                  
                </div>

                <div class="dropdowns">
                    <select id="subtitles">
                        <option value="add-subtitles">Add subtitles</option>
                        <!-- Additional options -->
                    </select>
                </div>
                
                <div class="dropdowns">
                    <select id="watermark-text">
                        <option value="gun-125">Use watermark text gun-125</option>
                        <!-- Additional options -->
                    </select>
                </div>

                <div class="dropdowns">
                    <select id="stock-usage">
                        <option value="normal">Use iStock normally</option>
                        <!-- Additional options -->
                    </select>
                </div>
            </div>
            
            <!-- <button type="submit" class="continue-btn" (click)="continue()">Continue</button> -->
        <div>
            <button
                type="submit"
                id="save-entity"
                data-cy="entityCreateSaveButton"
                [disabled]="editForm.invalid || isSaving"
                class="continue-btn"
                >
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
        </form>
    </div>
    <jhi-foot-menu [currentpage]="'CreatexplainerPrompt'"></jhi-foot-menu>
</body>
</html>
