[submodule "daveshap/OpenAI_Agent_Swarm"]
	path = 01.AgentCorePlatform/OpenAI_Agent_Swarm
	url = https://github.com/daveshap/OpenAI_Agent_Swarm.git
[submodule "microsoft/autogen"]
	path = 01.AgentCorePlatform/autogen
	url = https://github.com/microsoft/autogen.git
[submodule "geekan/MetaGPT"]
	path = 01.AgentCorePlatform/crewAI
	url = https://github.com/geekan/MetaGPT.git
[submodule "joaomdmoura/crewAI"]
	path = 01.AgentCorePlatform/MetaGPT
	url = https://github.com/joaomdmoura/crewAI.git
[submodule "daveshap/ACE_Framework"]
	path = 01.AgentCorePlatform/ACE_Framework
	url = https://github.com/daveshap/ACE_Framework.git
[submodule "OpenDevin/OpenDevin"]
	path = 01.AgentCorePlatform/OpenDevin
	url = https://github.com/OpenDevin/OpenDevin.git
[submodule "jhipster/generator-jhipster"]
	path = 02.SoftwareGenerator/generator-jhipster
	url = https://github.com/jhipster/generator-jhipster.git
[submodule "pyhipster/generator-pyhipster"]
	path = 02.SoftwareGenerator/generator-pyhipster
	url = https://github.com/pyhipster/generator-pyhipster.git
[submodule "Sxela/WarpFusion"]
	path = 02.SoftwareGenerator/WarpFusion
	url = https://github.com/Sxela/WarpFusion.git
[submodule "Picsart-AI-Research/StreamingT2V"]
	path = 02.SoftwareGenerator/StreamingT2V
	url = https://github.com/Picsart-AI-Research/StreamingT2V.git
[submodule "swagger-api/swagger-codegen"]
	path = 02.SoftwareGenerator/swagger-codegen
	url = https://github.com/swagger-api/swagger-codegen.git
[submodule "Rapter1990/SpringBootMicroservices"]
	path = 08.ApplicationManagement/SpringBootMicroservices
	url = https://github.com/Rapter1990/SpringBootMicroservices.git
[submodule "keycloak/keycloak"]
	path = 04.UserPlatform/keycloak
	url = https://github.com/keycloak/keycloak.git
[submodule "quarkusio/quarkus"]
	path = 04.UserPlatform/quarkus
	url = https://github.com/quarkusio/quarkus.git
[submodule "keycloak/keycloak-nodejs-connect"]
	path = 04.UserPlatform/keycloak-nodejs-connect
	url = https://github.com/keycloak/keycloak-nodejs-connect.git
[submodule "keycloak/keycloak-quickstarts"]
	path = 04.UserPlatform/keycloak-quickstarts
	url = https://github.com/keycloak/keycloak-quickstarts.git
[submodule "activepieces/activepieces"]
	path = 05.WorkflowPlatform/activepieces
	url = https://github.com/activepieces/activepieces.git
[submodule "stripe-samples/accept-a-payment"]
	path = 06.PaymentPlatform/accept-a-payment
	url = https://github.com/stripe-samples/accept-a-payment.git
[submodule "stripe-samples/checkout-one-time-payments"]
	path = 06.PaymentPlatform/checkout-one-time-payments
	url = https://github.com/stripe-samples/checkout-one-time-payments.git
[submodule "stripe-samples/checkout-single-subscription"]
	path = 06.PaymentPlatform/checkout-single-subscription
	url = https://github.com/stripe-samples/checkout-single-subscription.git
[submodule "stripe-samples/subscription-use-cases"]
	path = 06.PaymentPlatform/subscription-use-cases
	url = https://github.com/stripe-samples/subscription-use-cases.git

[submodule "kanboard/kanboard"]
	path = 09.StandardPlatform/01.Project/kanboard
	url = https://github.com/kanboard/kanboard.git
[submodule "frappe/erpnext"]
	path = 09.StandardPlatform/erpnext
	url = https://github.com/frappe/erpnext.git
[submodule "prolinkinfo/RealEstateCRM"]
	path = 09.StandardPlatform/RealEstateCRM
	url = https://github.com/prolinkinfo/RealEstateCRM.git
[submodule "revive-adserver/revive-adserver"]
	path = 09.StandardPlatform/revive-adserver
	url = https://github.com/revive-adserver/revive-adserver.git
[submodule "frappe/erpnext"]
	path = 09.StandardPlatform/erpnext
	url = https://github.com/frappe/erpnext.git
[submodule "highwayns/Medical_Intake"]
	path = 10.AnalysisAndAlgorithm/Medical_Intake
	url = https://github.com/highwayns/Medical_Intake.git
[submodule "highwayns/BookWriter"]
	path = 10.AnalysisAndAlgorithm/BookWriter
	url = https://github.com/highwayns/BookWriter.git
[submodule "highwayns/ADSwarm"]
	path = 10.AnalysisAndAlgorithm/ADSwarm
	url = https://github.com/highwayns/ADSwarm.git
[submodule "highwayns/FintectSwarm"]
	path = 10.AnalysisAndAlgorithm/FintectSwarm
	url = https://github.com/highwayns/FintectSwarm.git
[submodule "highwayns/GameSwarm"]
	path = 10.AnalysisAndAlgorithm/GameSwarm
	url = https://github.com/highwayns/GameSwarm.git
[submodule "highwayns/HRSwarm"]
	path = 10.AnalysisAndAlgorithm/HRSwarm
	url = https://github.com/highwayns/HRSwarm.git
[submodule "highwayns/SalesSwarm"]
	path = 10.AnalysisAndAlgorithm/SalesSwarm
	url = https://github.com/highwayns/SalesSwarm.git
[submodule "highwayns/SDSwarm"]
	path = 10.AnalysisAndAlgorithm/SDSwarm
	url = https://github.com/highwayns/SDSwarm.git
[submodule "highwayns/SongWriter"]
	path = 10.AnalysisAndAlgorithm/SongWriter
	url = https://github.com/highwayns/SongWriter.git
[submodule "highwayns/VideoCreator"]
	path = 10.AnalysisAndAlgorithm/VideoCreator
	url = https://github.com/highwayns/VideoCreator.git
[submodule "highwayns/gpt_academic"]
	path = 10.AnalysisAndAlgorithm/gpt_academic
	url = https://github.com/highwayns/gpt_academic.git


 