<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (member) {
      <div>
        <h2 data-cy="memberDetailsHeading"><span jhiTranslate="highwayacApp.member.detail.title">Member</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ member.id }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.member.username">Username</span></dt>
          <dd>
            <span>{{ member.username }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.member.fullName">Full Name</span></dt>
          <dd>
            <span>{{ member.fullName }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.member.role">Role</span></dt>
          <dd>
            <span>{{ member.role }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.member.activeStatus">Active Status</span></dt>
          <dd>
            <span>{{ member.activeStatus }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.member.workspace">Workspace</span></dt>
          <dd>
            @if (member.workspace) {
              <div>
                <a [routerLink]="['/workspace', member.workspace.id, 'view']">{{ member.workspace.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/member', member.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
