<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (novel) {
      <div>
        <h2 data-cy="novelDetailsHeading"><span jhiTranslate="highwayacApp.novel.detail.title">Novel</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ novel.id }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.novel.noveltext">Noveltext</span></dt>
          <dd>
            <span>{{ novel.noveltext }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.novel.novelname">Novelname</span></dt>
          <dd>
            <span>{{ novel.novelname }}</span>
          </dd>
          <dt><span jhiTranslate="highwayacApp.novel.noveltype">Noveltype</span></dt>
          <dd>
            <span>{{ novel.noveltype }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/novel', novel.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
