<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Text Input</title>
</head>
<body>
    <div class="container">
        <form [formGroup]="editForm" (ngSubmit)="save()">
            <div class="form-group">
                <label for="field_novelname" class="label">Novelname</label>
                <input type="text" class="form-control1" name="novelname" id="field_novelname" formControlName="novelname" />
                <div *ngIf="editForm.get('novelname')?.invalid && (editForm.get('novelname')?.dirty || editForm.get('novelname')?.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('novelname')?.errors?.required">This field is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="field_noveltext" class="label">Noveltext</label>
                <input type="text" class="form-control" name="noveltext" id="field_noveltext" formControlName="noveltext" />
                <div *ngIf="editForm.get('noveltext')?.invalid && (editForm.get('noveltext')?.dirty || editForm.get('noveltext')?.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('noveltext')?.errors?.required">This field is required.</small>
                </div>
            </div>
            <div class="button-container">
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="button">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
    <jhi-foot-menu [currentpage]="'Novel'"></jhi-foot-menu>
</body>
</html>
