
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighwayVC - Members</title>
</head>
<body>
    <div class="members-container">
        <jhi-left-menu [currentpage]="'Members'"></jhi-left-menu>
        <main class="members-content">
            <div>
                <h2 id="page-heading" data-cy="MemberHeading">
                  <span jhiTranslate="highwayacApp.member.home.title">Members</span>
              
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
                      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                      <span jhiTranslate="highwayacApp.member.home.refreshListLabel">Refresh list</span>
                    </button>
              
                    <button
                      id="jh-create-entity"
                      data-cy="entityCreateButton"
                      class="btn btn-primary jh-create-entity create-member"
                      [routerLink]="['/member/new']"
                    >
                      <fa-icon icon="plus"></fa-icon>
                      <span jhiTranslate="highwayacApp.member.home.createLabel">Create a new Member</span>
                    </button>
                  </div>
                </h2>
              
                <jhi-alert-error></jhi-alert-error>
              
                <jhi-alert></jhi-alert>
              
                @if (members?.length === 0) {
                  <div class="alert alert-warning" id="no-result">
                    <span jhiTranslate="highwayacApp.member.home.notFound">No Members found</span>
                  </div>
                }
              
                @if (members && members.length > 0) {
                  <div class="table-responsive table-entities" id="entities">
                    <table class="table table-striped" aria-describedby="page-heading">
                      <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
                          <th scope="col" jhiSortBy="id">
                            <div class="d-flex">
                              <span jhiTranslate="global.field.id">ID</span>
              
                              <fa-icon class="p-1" icon="sort"></fa-icon>
                            </div>
                          </th>
                          <th scope="col" jhiSortBy="username">
                            <div class="d-flex">
                              <span jhiTranslate="highwayacApp.member.username">Username</span>
              
                              <fa-icon class="p-1" icon="sort"></fa-icon>
                            </div>
                          </th>
                          <th scope="col" jhiSortBy="fullName">
                            <div class="d-flex">
                              <span jhiTranslate="highwayacApp.member.fullName">Full Name</span>
              
                              <fa-icon class="p-1" icon="sort"></fa-icon>
                            </div>
                          </th>
                          <th scope="col" jhiSortBy="role">
                            <div class="d-flex">
                              <span jhiTranslate="highwayacApp.member.role">Role</span>
              
                              <fa-icon class="p-1" icon="sort"></fa-icon>
                            </div>
                          </th>
                          <th scope="col" jhiSortBy="activeStatus">
                            <div class="d-flex">
                              <span jhiTranslate="highwayacApp.member.activeStatus">Active Status</span>
              
                              <fa-icon class="p-1" icon="sort"></fa-icon>
                            </div>
                          </th>
                          <th scope="col" jhiSortBy="workspace.id">
                            <div class="d-flex">
                              <span jhiTranslate="highwayacApp.member.workspace">Workspace</span>
                              <fa-icon class="p-1" icon="sort"></fa-icon>
                            </div>
                          </th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (member of members; track trackId) {
                          <tr data-cy="entityTable">
                            <td>
                              <a [routerLink]="['/member', member.id, 'view']">{{ member.id }}</a>
                            </td>
                            <td>{{ member.username }}</td>
                            <td>{{ member.fullName }}</td>
                            <td>{{ member.role }}</td>
                            <td>{{ member.activeStatus }}</td>
                            <td>
                              @if (member.workspace) {
                                <div>
                                  <a [routerLink]="['/workspace', member.workspace.id, 'view']">{{ member.workspace.id }}</a>
                                </div>
                              }
                            </td>
                            <td class="text-end">
                              <div class="btn-group">
                                <a [routerLink]="['/member', member.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                                  <fa-icon icon="eye"></fa-icon>
                                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </a>
              
                                <a [routerLink]="['/member', member.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                                  <fa-icon icon="pencil-alt"></fa-icon>
                                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </a>
              
                                <button type="submit" (click)="delete(member)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                                  <fa-icon icon="times"></fa-icon>
                                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                              </div>
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                }
              </div>
              
        </main>
    </div>
</body>
</html>
